@model Aarogyam.Models.Task

@{
    ViewData["Title"] = "MarkDone";
}

<h3>Are you sure you want to mark this Task as Done?</h3>

<div class="col-md-6 shadow-sm my-1 p-3 mt-5" style="border-radius:10px;  background-color: rgba(228, 244, 242, 0.83)">
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DateOfIssue)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DateOfIssue)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DateOfDue)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DateOfDue)
        </dd>
    </dl>
    
    <form asp-action="MarkDone">
        <input type="hidden" asp-for="TaskId" />
        <input type="submit" value="MarkDone" class="btn btn-danger" /> |
        <a asp-action="TaskList">Back to List</a>
    </form>
</div>
