@model Aarogyam.Models.Patient
@inject SignInManager<ApplicationUser> signInManager

@{
    ViewData["Title"] = "Delete";
    ApplicationUser usr = signInManager.UserManager.Users
        .Where(c => c.CitizenId == Model.CitizenId).FirstOrDefault();
}

<h3>Are you sure you want to delete this Patient (As He/She is Recovered or Died) ? </h3>

<div class="col-md-6 shadow-sm my-1 p-3 mt-5" style="border-radius:10px;  background-color: rgba(228, 244, 242, 0.83)">
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CitizenId)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CitizenId)
        </dd>
        <dt class="col-sm-4">
            Name
        </dt>
        <dd class="col-sm-8">
            @usr.Name
        </dd>
        <dt class="col-sm-4">
            Email
        </dt>
        <dd class="col-sm-8">
            @usr.Email
        </dd>
        <dt class="col-sm-4">
            Mobile
        </dt>
        <dd class="col-sm-8">
            @usr.Mobile
        </dd>
        <dt class="col-sm-4">
            Checkup Data
        </dt>
        <dd class="col-sm-8">
            @usr.CheckupData
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PatientId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
