@model Aarogyam.Models.ViewModels.PatientList

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-6 shadow-sm my-1 p-3 mt-5" style="border-radius:10px;  background-color: rgba(228, 244, 242, 0.83)">
    <h4>Patient's Data</h4>
    <hr />

    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CitizenId)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CitizenId)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CheckupData)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CheckupData)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-primary" asp-action="PatientCheckupDataUpdate" asp-route-id="@Model.PatientId">Update Patient Checkup Data</a> |
    <a class="btn btn-sm btn-dark" asp-action="Index">Back to List</a>
</div>
